In [1]:
import pandas as pd
import numpy as np

# Example synthetic data (replace with your project dataset)
np.random.seed(0)
n = 100
df = pd.DataFrame({
    'income': np.random.normal(60000, 15000, n).astype(int),
    'monthly_spend': np.random.normal(2000, 600, n).astype(int),
    'credit_score': np.random.normal(680, 50, n).astype(int)
})
df.head()

   income  monthly_spend  credit_score
0   86460           3129           661
1   66002           1191           668
2   74681           1237           734
3   93613           2581           712
4   88013           1296           712

In [2]:
# feature 1: it compares income times credit, a high income with a high credit score suggest a good candidate for lending
df['income_times_credit_ratio'] = df['income'] * df['credit_score']

In [3]:
# feature 2: it calculates how much a person can save per year
# it helps evaluate how the person's credit score should change
# if significantly positive, then the credit score should go up; if negative, the credit score should go down
df['savings'] = df['income'] - (df['monthly_spend'] * 12)

In [4]:
df

    income  monthly_spend  credit_score  income_times_credit_ratio  savings
0    86460           3129           661                   57150060    48912
1    66002           1191           668                   44089336    51710
2    74681           1237           734                   54815854    59837
3    93613           2581           712                   66652456    62641
4    88013           1296           712                   62665256    72461
..     ...            ...           ...                        ...      ...
95   70598           1897           736                   51960128    47834
96   60157           2463           684                   41147388    30601
97   86788           2494           709                   61532692    56860
98   61903           3297           660                   40855980    22339
99   66029           2801           698                   46088242    32417

[100 rows x 5 columns]