In [1]:
import numpy as np
import pandas as pd

In [2]:
arr = np.random.randint(1, 100, size=5)
print("NumPy Array:", arr)
print("Array times 2:", arr*2)
print("Mean of array:", np.mean(arr))

NumPy Array: [17 30 77 51 30]
Array times 2: [ 34  60 154 102  60]
Mean of array: 41.0

In [4]:
data = {
    "Client": ["A", "B", "C", "D", "E"],
    "Account Size": [10000, 30000, 6000, 40000, 13000],
    "Account Years": [1, 2, 9, 5, 3]
}

df = pd.DataFrame(data)

In [5]:
df

  Client  Account Size  Account Years
0      A         10000              1
1      B         30000              2
2      C          6000              9
3      D         40000              5
4      E         13000              3

In [6]:
df[df["Account Size"] > 30000]

  Client  Account Size  Account Years
3      D         40000              5

In [7]:
df['Account Years'] += 1

In [8]:
df

  Client  Account Size  Account Years
0      A         10000              2
1      B         30000              3
2      C          6000             10
3      D         40000              6
4      E         13000              4